name: Restart Pterodactyl Server

on: 
  push:
    branches:
      - main

jobs:
  restart-server:
    runs-on: ubuntu-latest

    steps:
    - name: Debug Pterodactyl URL
      run: echo "Pterodactyl URL is ${{ secrets.PTERODACTYL_API_URL }}"
    
    - name: Restart Server
      run: |
        curl -H "Authorization: Bearer ${{ secrets.PTERODACTYL_API_KEY }}" \
             -X POST \
             "${{ secrets.PTERODACTYL_API_URL }}/api/client/servers/4b1701e8/power" \
             -d '{"signal": "restart"}'
      shell: bash